@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');


:root {
    --menu-size: 250px;
}

* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: none;
}


body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #436aa5;
    background-image: url(../IMG/fundoazul.png);
}
.retangulo {
    display: flex;
    background: rgb(63, 120, 187);
    border-radius: 20px;
    width: 260px;
    height: 60px;
    margin-top: -15%;
    margin-left: 58%;
}
.retangulo2 {
    display: flex;
    background: rgb(63, 120, 187);
    border-radius: 20px;
    width: 260px;
    height: 60px;
    margin-top: 6%;
    margin-left: 58%;
}
.texto{
  display: flex;
  margin-left: 60%;
  margin-top: -25%;
  color: white;
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
}
.bloq h1{
    display: flex;
    margin-left: 65%;
    margin-top: 8%;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}

.op {
    margin-left: 10%;
    margin-top: -30%;
}
.fundo{
    display: flex;
}

.trevo img{
    display: flex;
    width: 600px;
    margin-left: 25%;
    margin-top: 2%; 
}
.alga img{
    width: 100px;
    margin-top: 290%;
    margin-left: 430%;
}

.alga1 img{
    width: 100px;
    margin-top: 135%;
    margin-left: 340%;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    box-shadow: 10px 5px 5px #9c9c9c;
    margin: 0%;
}
.barra-cima{
    display: flex;
}
.perfil{
   display: flex;
   width: 35px;
   margin-top: -70%;
   margin-left: 80%;
}
.logoeco{
    display: flex;
    width: 150px;
    margin-top: -60%;
    margin-left: 910%;
}

.config{
    display: flex;
    width: 36px;
    margin-top: -3%;
    margin-left: 32%;
}

.notif{
    display: flex;
    width: 40px;
    margin-top: -30%;
    margin-left: 26%;
}

#btnMenu {
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s;
    margin-right: 160%;
    margin-left: 2%;
}

#btnMenu:hover {
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(127, 199, 247);
}

#btnMenu:active {
    background-color: rgb(3, 4, 7);
}

#btnClose {
    padding: 8px;
    background-color: rgb(44, 70, 119);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8%;
}

#btnClose:active {
    background-color: rgb(46, 70, 135);
}
#btnClose:hover {
    background-color: rgb(96, 180, 240);
}
.menu {
    position: fixed;
    top: 10%;
    width: var(--menu-size);
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: -0.6%;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: flex;
    margin-left: 4%;
    margin-top: 20%;
}

.menu ul li a {
    transition: background 0.3s;
    display: block;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-top: -15%;
    margin-left: 6%;
}
.menu ul li a img{
    width: 35px;
}
.menu ul li a:hover {
    background-color: rgb(182, 220, 255);
    border-radius: 6%;
    height: 2%;

}
.effect {
    transition: margin 0.4s;
}

.pe{
    margin-bottom: 0;
    padding:50px 0;
    color:#000000;
    background-color: white;
    
}
@media (min-width: 768px) {
    #btnClose {
        display: none;
    }
}